
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Aimange/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Aimange/index.php [L]
</IfModule>